# Error

## Syntax error

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [7]:
print('hello'

SyntaxError: incomplete input (3871997710.py, line 1)

In [8]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

## exception

In [9]:
print(hello)

NameError: name 'hello' is not defined

In [13]:
1 + '1'

# 더할 수 없습니다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
'1' + 1

# 연결할 수 없습니다

TypeError: can only concatenate str (not "int") to str

In [17]:
import random
random.sample([1,2,3,4,5])

# 위치 인자가 빠졌습니다

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [18]:
random.sample([1,2,3,4,5], 2, 6, 8)

# 인자가 많아용.

TypeError: Random.sample() takes 3 positional arguments but 5 were given

In [19]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [20]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [21]:
numbers[100]

IndexError: list index out of range

In [24]:
my_dict = {
    'apple': '사과',
    'banana': '바나나'
}

In [25]:
my_dict['melon']

KeyError: 'melon'

In [26]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [27]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## 예외처리

```python
try:
    code
except 예외:
    code
```

In [37]:
try:
    num = int(input('숫자를 입력해주세요 : '))
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
except:
    print('* 숫자를 입력하십시오. *')

숫자를 입력해주세요 :  삼

* 숫자를 입력하십시오. *

In [ ]:
try:
    num = float(input('100을 무엇으로 나누시겠습니까?'))
    # teacher는 int로 했는뎅 나는 float로 하고 싶어요.. 소수점 있는 아가들은 어떡행 !
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('숫자를 넣으세요. 입력한 데이터는 숫자가 아님.')
except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')

In [54]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])

except IndexError as err:
    print('out of index')
    print(err)

out of index
list index out of range

In [61]:
try:
    numbers = [1, 2, 3]
    num = numbers[0]

except:
    print('오류입니다')

else:
    print(num ** 3)
# 예외가 발생하지 않았을 때 실행되는 코드

1

In [66]:
try:
    numbers = [1, 2, 3]
    num = numbers[100]

except:
    print('오류입니다')

finally:
    print('end')
#예외와 상관없이 try의 모든 코드 실행 후 무조건 실행

오류입니다
end

In [78]:
def my_div(num1, num2):
    try:
        return num1 / num2
    except (ValueError, TypeError):
        return '숫자를 입력하세요.'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'
    except:
        return '무엇인가 잘못되었어요'

In [82]:
print(my_div('웅', 1))

숫자를 입력하세요.